#productItems {
  background-color: #cfe1ff;
  float: left;
  width: 100%;
}

.item {
  position: relative;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  width: 30%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


